<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!-- LUIS -->
    <add key="Luis:ApiId" value="" />
    <add key="Luis:SubsciptionKey" value="" />
    <add key="Luis:Uri" value="https://api.projectoxford.ai/luis/v1/application" />
    <add key="Luis:Uri2" value="https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps" />
    <add key="Luis:VersionId" value="0.2" />
    <add key="Luis:Region" value="westus" />
    <!-- Azure Search -->
    <add key="Search:ServiceName" value="contososearch" />
    <add key="Search:ApiKey" value="" />
    <add key="Search:IndexName" value="kbindex" />

    <!-- Microsoft Translator-->
    <add key="Translate:AccountKey" value="" />
    <add key="Translate:Uri" value="https://api.datamarket.azure.com/Bing/MicrosoftTranslator/" />

    <!-- Microsoft CosmosDB-->
    <add key="KBDocDb:EndpointUri" value="https://contosokbdb.documents.azure.com:443/" />
    <add key="KBDocDb:AuthKey" value="" />
    <add key="KBDocDb:Databasename" value="contosoknowledgebase" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
